*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "frame frame frame "
                                               "frame frame frame "
                                              
                                               "base1 base1 base1"
                                               "base1 base1 base1"
                                                "base2 base2 base2"
                                                "footer footer footer"
                                               ;
}

.frame{
    grid-area: frame;
    background-image:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)),url('./elephants.jpg');
    width:100%;
    height: 80vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frame h4{
    font-family:'Times New Roman', Times, serif;
    color:red;
    text-transform: uppercase;
    margin-top:110px;
    margin-left:50px;
    font-weight: bolder;
}

.frame h1{
    margin-left: 50px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom:10px;
    font-size:45px;
    margin-top:15px;
    font-family: monospace;
}

.frame p{
    margin-left:50px;
    color:white;
    line-height: 2em;
  

}

.frame button{
    margin-left:50px;
    margin-top:120px;
    background: #ff0000;
    padding:5px;
    width:100px;
    color:#fff;
    border:none;
    font-size:20px;
    font-weight:lighter;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.base1{
    grid-area:base1;
    padding:150px;
    background-image:linear-gradient(rgba(248, 238, 204, 0.253), rgba(230, 224, 224, 0.7)),url('./osono.jpg');
    width:100%;
    height:90vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.base1 h3{
    background-color: #623c2f;
    text-align: center;
    color:#fff;
    width:40%;
    bottom:100px;
    left:300px;
    font-size:13px;
    text-transform: uppercase;
    padding:10px;
    position: relative;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.base1 h1{
    font-family:monospace;
    font-size:35px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-indent: 70px;
}
.base1 div p{
    font-family:monospace;
    text-align: center;
    font-size:16px;
}
.all_icons{
    /* display:flex; */
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: minmax(100px , auto);
    grid-gap:3em;
   
    
}

#i1,
#i2,
#i3{
    
    margin-bottom:40px;
    font-size:100px;
    color:#ff0000;
    text-indent: 110px;
}
.base2{
    grid-area:base2;
    background-color: #fff;
    text-align: center;
    padding:30px;
}
.logos p{
    font-size:16px;
    margin-top:10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.base2 h4{
    text-transform: uppercase;
    background-color:#623c2f;
    padding:7px;
    color:#fff;
    width:150px;
    font-size:13px;
    position: relative;
    left:600px;
    margin-bottom: 30px;
}

.base2 h2{
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:22px;
}

.base2 button{
    margin-left:5px;
    background-color: #ff0000;
    padding:10px;
    width:100px;
    color:#fff;
    border:none;
    font-size:15px;
    font-weight:lighter;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]{
    margin-top:30px;
    padding:10px;
    background:#e0ecf0;
    border:1px solid #ccc;
    border-radius: 5px;
}

span{
    color:#ff0000;
}
footer{
    padding:50px;
    grid-area:footer;
    background-color: #623c2f;
    margin-top:30px;
    text-align: center;
}

.warn{
    text-align: center;
    
}
.warnings{
    display: flex;
    flex-flow: row nowrap;
    margin-left:30px;
    justify-content: space-evenly;
    padding:50px;
  
 
}

.warnings li{
    margin-left:20px;
    list-style:none;
    text-transform: uppercase;
    font-family: monospace;
    font-size:16px;
    
   
}

.warnings a{
    text-decoration: none;
    color:#ffea8c;
}


.logo{
    display: flex;
    flex-flow: row nowrap;
    margin-left:30px;
    justify-content: space-evenly;
    padding:50px;
  
}
.logo li{
list-style: none;
}

#log1,
#log2,
#log3,
#log4{
    font-size:60px;
    color:#ccc;
    border:1px solid #ccc;
    padding:20px;
}

.erms{
    display: flex;
    flex-flow: row nowrap;
    margin-left:30px;
    justify-content: space-evenly;
    padding:50px;
  
}

.erms li{
    margin-left:20px;
    list-style:none;
    text-transform: uppercase;
    font-family: monospace;
    font-size:12px;
}

.erms a{
    text-decoration: none;
    color:#ffea8c;
}

.fp1, .fp2{
    color: #ccc;
}
.tel{
    color: #ffea8c;
}